<footer>
    <div class="footer-content">
      <ul class="acerca-de">
        <li>
          <h3>Acerca De</h3>
        </li>
        <li><a href="#">Quiénes somos</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Defensa al consumidor</a></li>
      </ul>

      <ul class="ayuda">
        <li>
          <h3>Ayuda</h3>
        </li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">¿Cómo comprar?</a></li>
        <li><a href="#">Pagos y promociones</a></li>
      </ul>

      <div class="redes-sociales">
        <h3>Redes Sociales</h3>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="copy">© Copyright 2024. Todos los derechos reservados.</div>
</footer>