<header>
    <nav>
        <img src="/backendentrega/public/images/logo1.png" alt="logo" />
        <a class="toggle"><i class="fa-solid fa-bars"></i></a>
        <ul class="menu-content">
          <li><a href="/">Home</a></li>
          <li><a href="/products/products">Productos</a></li>
          <li><a href="/products/create">Crear Producto</a></li>
        </ul>
      </nav>
</header>