
.col-card {
    padding: 0;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #000 !important;
    height: 500px;
    gap: 5px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    color: #000;
    font-size: 16px;
}

.card-image {
    object-fit: contain;
    height: 50%;
}

.card-body {
    height: 50%;
}


/*Mobile*/

@media screen and (max-width: 500px) {
    .title-carrusel {
        font-size: 60px;
    }

    .card-text {
        font-size: 14px;
    }
}


@media screen and (max-width: 360px) {

    .col-card {
        width: 100% !important;
    }

    .title-carrusel {
        font-size: 20px;
    }

   
}
 


/*Desktop*/

@media screen and (min-width: 500px) {

    .products-section {
        width: 90%;
        margin: 20px auto;
    }

  



  

  
    .menu-content {
        gap: 30px;
    }
} 
